# core requirements
attrs==18.2.0
typing_extensions  # for Protocol

# extras for development
black==18.9b0
nose
nose-exclude
coverage
pylint==2.1.1
flake8==3.5.0
mypy==0.620
twine
pytest==4.1.1
pytest-benchmark==3.2.2
